#presentation-page {
    padding-top: 90vh;
}

.background-white {
        background: #fff;
    padding-top: 70px;
}

.presentation-block-1 {
    background-color: #242424;
    height: 90vh;
    width: 100%;
    padding-left: 45px;
    margin-bottom: 80px;
    position: fixed;
    top: 0;
    z-index: -1;
}

.presentation-block-2 {
    text-align: center;
    margin-bottom: 70px;
}

.presentation-block-2,
.presentation-block-3,
.presentation-block-4,
.presentation-block-5,
.presentation-block-6,
.presentation-block-7,
.presentation-block-8,
.presentation-block-9{
    width: 1050px;
    margin: 0 auto 80px auto;
    position: relative;
    z-index: 2;
}

.presentation-block-1 h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 35px;
    font-weight: 100;
}

.presentation-block-1 h1 span {
    color: red;
}

.presentation-block-1 p {
    color: #fff;
    font-size: 28px;
}

.presentation-image {
    text-align: center;
    margin: 30px 0;
    position: relative;
}

.presentation-heading {
    text-align: center;
    color: red;
    font-size: 38px;
    margin-bottom: 130px;
}

.presentation-block-list {
    position: relative;
}

.presentation-block-list-number {
    position: absolute;
    left: -40px;
    top: -3px;
    color: red;
    font-size: 36px;
}

.presentation-block-list h3 {
    font-size: 32px;
}

.presentation-block-5 .presentation-image > ul > li {
    text-align: left;
    position: absolute;
}

.presentation-block-5 .presentation-image > ul > li h4 {
    text-transform: uppercase;
    color: red;
    font-size: 40px;
    margin-bottom: 10px;
}

.presentation-block-5 .presentation-image > ul > li p {
    max-width: 400px;
}

.presentation-block-5 .presentation-image > ul > li p.grey {
    color: #777;
}

.presentation-block-5 .presentation-image > ul > li:nth-of-type(1) {
    top: 456px;
    left: 395px;
}

.presentation-block-5 .presentation-image > ul > li:nth-of-type(2) {
    top: 694px;
    left: 157px;
}

.presentation-block-5 .presentation-image > ul > li:nth-of-type(3) {
    top: 1171px;
    left: 493px;
}

.presentation-block-5 .presentation-image > ul > li:nth-of-type(4) {
    top: 1408px;
    left: 197px;
}

.presentation-block-5 .presentation-image > ul > li:nth-of-type(5) {
    top: 1647px;
    left: 455px;
}

.presentation-block-9 {
    margin-top: 300px;
    margin-bottom: 10px;
}

.presentation-block-9 .presentation-block-list h3 {
    color: red;
    text-align: center;
}